@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@if (ViewData["clientFound"].Equals("1"))
{
    <h2>Found client:</h2>
    <br/>
    <h4>ID : @ViewData["clientID"]</h4>
    <br/>
    <h4>[$] : @ViewData["clientAmount"]</h4>
}
else
{
    <h2>Client with ID @ViewData["clientID"] not found.</h2>
}