@model object

@{
    ViewBag.Title = "Wykonaj przelew";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<div class="text-center">
    <form asp-action="WykonajPrzelewPagePost">
        Od:
        <input type="text" name="from"/>
        Do:
        <input type="text" name="to"/>
        Kwota:
        <input type="text" name="amount"/>
        <input type="submit"/>
    </form>
</div>